.CategoryBar{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CategoryBar_img{
    width: 60px;
}
.CategoryImg{
    width: 100%;
}
.categoryBar_name{
    width: 100%;
    font-size: 13px;
    font-weight: 500px;
    padding: 4px 0;
}